body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, rgb(126, 10, 33), rgb(87, 7, 23));
    box-sizing: border-box;
}

#login{
    display:flex;
    margin-left: 41vw;
    align-items: center;
    flex-flow: column nowrap;
    width: 15vw;
    margin-top: 30vh;
    border: 1px solid black;
    padding: 3vh 2vw;
    background: rgb(7, 2, 39);
}

input{
    padding: 1vh;
    font-size: 1rem;
    outline: none;
    border: 2px solid rgb(110, 33, 33);
}

input:active, input:focus, input:enabled{
    outline: none;
}

button {
    border: 2px solid rgb(110, 33, 33);
    padding: 1vh;
    margin: 1vh;
    width: 7vw;
    font-size: 1rem;
}

#ele{
    display: flex;
    justify-content: center;
    font-size: 10vh;
    color: rgb(7, 2, 39);
}

#match{
    color: rgb(50, 98, 114);
}

label{
    color: white;
    font-size: 5vh;
}